#open-button{
    border: 2px solid red;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}
#close-button{
    cursor: pointer;
    border: 2px solid red;
    background-color: red;
    border-radius: 5px;
    position: relative;
    left: 16px;
}
#modal{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .25rem;
    border: 1px solid black;
    background-color: pink;
    padding: 6px 6px;
}
#overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .75);
}